<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ainur Rofiq</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/img/logo.svg">

    <!-- Google Fonts - Lato -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

    <!-- Dark Mode Style -->
    <link rel="stylesheet" href="/public/css/darkMode.css">

    <!-- Bootstrap 5 & bootstrap icon -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    <!-- custom css -->
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/mediaScreen.css">
  </head>
  <body>
    <div class="h-screen flex flex-col">

      <!-- Navbar -->
      {{> navbar}}

      <main>
        <div class="container py-5">
          <!-- Hero Section -->
          {{> hero}}

          <!-- Tech Stack Section -->
          {{> techStack}}

          <!-- Work Experience Section -->
          {{> experience}}

          <!-- Projects Section -->
          {{> project}}

          <!-- Contact Section -->
          {{> contact}}
        </div>
      </main>

      <!-- Footer -->
      {{> footer}}

    </div>
    <!-- Dark Mode script -->
    {{!-- <script src="public/js/darkMode.js"></script> --}}
    <script>
      const toggleBtn = document.getElementById("theme-toggle");
      const html = document.documentElement;
      const icon = toggleBtn.querySelector("i");

      // Load saved theme
      const savedTheme = localStorage.getItem("theme");
      if (savedTheme === "dark") {
        html.setAttribute("data-theme", "dark");
        icon.className = "bi bi-sun";
      }

      toggleBtn.addEventListener("click", () => {
        const isDark = html.getAttribute("data-theme") === "dark";
        const nextTheme = isDark ? "light" : "dark";

        const rect = toggleBtn.getBoundingClientRect();
        const circle = document.createElement("div");

        circle.className = `theme-transition ${nextTheme}`;
        circle.style.left = `${rect.left + rect.width / 2}px`;
        circle.style.top = `${rect.top + rect.height / 2}px`;

        document.body.appendChild(circle);

        requestAnimationFrame(() => {
          circle.style.transform = "scale(150)";
        });

        setTimeout(() => {
          if (nextTheme === "dark") {
            html.setAttribute("data-theme", "dark");
            icon.className = "bi bi-sun";
          } else {
            html.removeAttribute("data-theme");
            icon.className = "bi bi-moon";
          }

          localStorage.setItem("theme", nextTheme);
        }, 800);

        setTimeout(() => {
          circle.remove();
        }, 800);
      });
    </script>


    <!-- Bootstrap 5 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

    {{!-- Navbar click scroll script --}}
    <script src="/public/js/navScrollClicker.js"></script>

    <!-- looping tech-stack script -->
    <script src="/public/js/loopingTechStack.js"></script>
  </body>
</html>