<nav class="navbar navbar-expand-lg fixed-top" style="background-color: white;">
  <div class="container">
    <a class="navbar-brand nav-link" href="#" data-target="hero-section">
      <img src="public/images/brand.png" alt="Logo" height="24" />
    </a>
    <div class="d-flex align-items-center gap-4">
      <button
        class="navbar-toggler order-1"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- toggler + offcanvas -->
      <div
        class="offcanvas offcanvas-end"
        tabindex="-1"
        id="offcanvasNavbar"
        aria-labelledby="offcanvasNavbarLabel"
      >
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><a
              class="nav-link"
              href="#"
              data-target="hero-section"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
            >Ainur Rofiq</a></h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body">
          <ul
            class="navbar-nav nav nav-underline justify-content-end flex-grow-1 pe-3"
          >
            <li class="nav-item">
              <a
                class="nav-link"
                href="#"
                style="color: #6c757d;"
                data-target="techStack-section"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              >Tech Stack</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="#"
                style="color: #6c757d;"
                data-target="experience-section"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              >Experience</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="#"
                style="color: #6c757d;"
                data-target="project-section"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              >Projects</a>
            </li>
          </ul>
        </div>
      </div>

      <!-- dark mode -->
      <div id="dark-mode" class="dark-mode">
        <i class="bi bi-brightness-high" style="font-size: 20px;"></i>
        {{! <i class="bi bi-moon" style="font-size: 20px;"></i> }}
      </div>
    </div>
  </div>
</nav>