<section id="techStack-section" class="container mt-5" style="padding: 4rem 0;">
  <h2 class="fw-bold mb-4">Technologies I Work With</h2>

  <div class="tech-marquee mt-5">
    <div class="tech-track" id="techTrack">
      <div class="tech-item">
        <img src="https://img.icons8.com/color/96/nodejs.png" alt="Node.js" />
        <p>Node.js</p>
      </div>

      <div class="tech-item">
        <img
          src="https://img.icons8.com/color/96/express-js.png"
          alt="Express.js"
        />
        <p>Express.js</p>
      </div>

      <div class="tech-item">
        <img
          src="https://img.icons8.com/color/96/postgreesql.png"
          alt="PostgreSQL"
        />
        <p>PostgreSQL</p>
      </div>

      <div class="tech-item">
        <img
          src="https://img.icons8.com/color/96/bootstrap.png"
          alt="Bootstrap"
        />
        <p>Bootstrap</p>
      </div>

      <div class="tech-item">
        <img src="https://img.icons8.com/color/96/css3.png" alt="CSS" />
        <p>CSS</p>
      </div>

      <div class="tech-item">
        <img
          src="https://img.icons8.com/color/96/javascript.png"
          alt="JavaScript"
        />
        <p>JavaScript</p>
      </div>

      <div class="tech-item">
        <img src="https://img.icons8.com/color/96/html-5.png" alt="HTML" />
        <p>HTML</p>
      </div>

      <div class="tech-item">
        <img src="https://img.icons8.com/color/96/figma--v1.png" alt="Figma" />
        <p>Figma</p>
      </div>
    </div>

  </div>
</section>