<section id="techStack-section" class="container mt-5" style="padding: 4rem 0;">
  <h2 class="fw-bold mb-4 h-theme-color">Technologies I Work With</h2>

  <div class="tech-marquee mt-5 text-theme-color">
    <div class="tech-track" id="techTrack">
      <div class="tech-item d-flex flex-column align-items-center">
        <div class="img mb-2">
          <img
            src="https://img.icons8.com/color/96/nodejs.png"
            alt="Node.js"
            class="my-1"
          />
        </div>
        <p>Node.js</p>
      </div>

      <div class="tech-item d-flex flex-column align-items-center">
        <div class="img mb-2">
          <img
            src="https://img.icons8.com/color/96/express-js.png"
            alt="Express.js"
            class="my-1"
          />
        </div>
        <p>Express.js</p>
      </div>

      <div class="tech-item d-flex flex-column align-items-center">
        <div class="img mb-2">
          <img
            src="https://img.icons8.com/color/96/postgreesql.png"
            alt="PostgreSQL"
            class="my-1"
          />
        </div>
        <p>PostgreSQL</p>
      </div>

      <div class="tech-item d-flex flex-column align-items-center">
        <div class="img mb-2">
          <img
            src="https://img.icons8.com/color/96/bootstrap.png"
            alt="Bootstrap"
            class="my-1"
          />
        </div>
        <p>Bootstrap</p>
      </div>

      <div class="tech-item d-flex flex-column align-items-center">
        <div class="img mb-2">
          <img
            src="https://img.icons8.com/color/96/css3.png"
            alt="CSS"
            class="my-1"
          />
        </div>
        <p>CSS</p>
      </div>

      <div class="tech-item d-flex flex-column align-items-center">
        <div class="img mb-2">
          <img
            src="https://img.icons8.com/color/96/javascript.png"
            alt="JavaScript"
            class="my-1"
          />
        </div>
        <p>JavaScript</p>
      </div>

      <div class="tech-item d-flex flex-column align-items-center">
        <div class="img mb-2">
          <img
            src="https://img.icons8.com/color/96/html-5.png"
            alt="HTML"
            class="my-1"
          />
        </div>
        <p>HTML</p>
      </div>

      <div class="tech-item d-flex flex-column align-items-center">
        <div class="img mb-2">
          <img
            src="https://img.icons8.com/color/96/figma--v1.png"
            alt="Figma"
            class="my-1"
          />
        </div>
        <p>Figma</p>
      </div>
    </div>

  </div>
</section>